{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint"
  ],
  "plugins": ["@typescript-eslint", "mysticatea"],
  "rules": {
    "no-param-reassign": "off",
    "no-use-before-define": ["error", { "classes": false }],
    "curly": ["error", "all"],
    "sort-imports": "error",
    "prefer-destructuring": [
      "error",
      {
        "array": false,
        "object": true
      }
    ],
    "mysticatea/no-instanceof-array": "error",
    "mysticatea/no-instanceof-wrapper": "error",
    "mysticatea/no-literal-call": "error",
    "mysticatea/no-this-in-static": "error",
    "mysticatea/no-use-ignored-vars": "error",
    "mysticatea/no-useless-rest-spread": "error"
  }
}
