{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/typescript",
    "plugin:import/warnings",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "plugins": ["@mysticatea", "@typescript-eslint", "import"],
  "rules": {
    "@mysticatea/block-scoped-var": "error",
    "@mysticatea/no-instanceof-array": "error",
    "@mysticatea/no-instanceof-wrapper": "error",
    "@mysticatea/no-literal-call": "error",
    "@mysticatea/no-this-in-static": "error",
    "@mysticatea/no-use-ignored-vars": "error",
    "@mysticatea/no-useless-rest-spread": "error",
    "curly": ["error", "all"],
    "no-param-reassign": "off"
  }
}
