name: lint
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          cache: "yarn"
          node-version: "20.x"
      - run: yarn --frozen-lockfile
      - run: yarn package
      - run: yarn lint
